<% include ../partials/header %> 

     <header class="jumbotron">
         <div class="container">
             <h1><span class="glyphicon glyphicon-tent"></span> Welcome To YelpCamp!</h1>
             <p>View our hand-picked babas from all over the world</p>
             <p>
                <a class="btn btn-primary btn-lg" href="/babas/new">Add New Baba</a>
             </p>
              <p>
              <form action="/babas" method="GET" class="form-inline" id="baba-search">
                <div class="form-group">
                  <input type="text" name="search" placeholder="Baba search..." class="form-control">
                </div>
              </form>
             </p>
         </div>
     </header>
     
     <div class="row text-center flex-wrap" id="baba-grid">
        <% babas.forEach(function(baba){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= baba.image %>">
                   <div class="caption">
                       <h4><%= baba.name %></h4>
                   </div>
                   <p>
                       <a href="/babas/<%= baba._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>

<% include ../partials/footer %>
